.editor-content div[data-layout-section="true"],
.lk-tab div[data-layout-section="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .editor-content div[data-layout-section="true"] div[data-layout-column="true"],
  .lk-tab div[data-layout-section="true"] div[data-layout-column="true"] {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .editor-content div[data-layout-section="true"] div[data-layout-content="true"],
  .lk-tab div[data-layout-section="true"] div[data-layout-content="true"] {
    padding: 5px;
    overflow-wrap: anywhere; }

.editor-content div[data-panel-type="info"],
.lk-tab div[data-panel-type="info"] {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 121, 204, 0.25);
  background: rgba(0, 121, 204, 0.1); }

.editor-content div[data-panel-type="success"],
.lk-tab div[data-panel-type="success"] {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 156, 131, 0.25);
  background: rgba(0, 156, 131, 0.1); }

.editor-content div[data-panel-type="warning"],
.lk-tab div[data-panel-type="warning"] {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(196, 148, 84, 0.25);
  background: rgba(196, 148, 84, 0.1); }

.editor-content div[data-panel-type="error"],
.lk-tab div[data-panel-type="error"] {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(197, 73, 2, 0.25);
  background: rgba(197, 73, 2, 0.1); }

.editor-content div[data-panel-type="note"],
.lk-tab div[data-panel-type="note"] {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(128, 45, 204, 0.25);
  background: rgba(128, 45, 204, 0.1); }

.editor-content section.secret,
.lk-tab section.secret {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(128, 45, 204, 0.25);
  background: rgba(128, 45, 204, 0.1);
  border-style: dashed; }

.lk-tabs-controls {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0; }
  .lk-tabs-controls .lk-tabs-control {
    margin-right: 4px; }
  .lk-tabs-controls .lk-tabs-control-link {
    background: rgba(0, 0, 0, 0.65);
    color: white;
    border-radius: 4px;
    margin-right: 4px;
    padding: 4px 8px;
    border: 0; }
    .lk-tabs-controls .lk-tabs-control-link.active {
      background: black; }

.lk-tabs-contents .lk-tab {
  display: none; }
  .lk-tabs-contents .lk-tab.active {
    display: block; }

.lk-icon {
  background: url("../assets/icons/lk-white.svg") no-repeat center;
  background-color: #000;
  background-size: 20px 10px;
  background-position: center 2px;
  display: inline-block;
  position: relative;
  top: 3px;
  width: 30px;
  height: 15px;
  margin: 0 2px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff; }

.lk-progress-track {
  position: relative;
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.25); }

.lk-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3a91bb; }

.sidebar-tab .directory-footer #lk-import {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  width: 100%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .sidebar-tab .directory-footer #lk-import img {
    border: 0;
    display: inline-block;
    width: 24px;
    height: auto;
    margin-right: 5px; }
