$lk-info-color: rgb(0,121,204);
$lk-note-color: rgb(128,45,204);
$lk-success-color: rgb(0,156,131);
$lk-warning-color: rgb(196,148,84);
$lk-error-color: rgb(197,73,2);
$lk-secret-color: rgb(128,45,204);

@mixin lkboxout($color) {
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid rgba($color,.25);
  background: rgba($color,.1);
}

.editor-content,
.lk-tab {
  div[data-layout-section="true"] {
    display: flex;

    div[data-layout-column="true"] {
      flex-grow: 0;
      flex-shrink: 0;
    }

    div[data-layout-content="true"] {
      padding: 5px;
      overflow-wrap: anywhere;
    }
  }

  div[data-panel-type="info"] { @include lkboxout($lk-info-color) }
  div[data-panel-type="success"] { @include lkboxout($lk-success-color) }
  div[data-panel-type="warning"] { @include lkboxout($lk-warning-color) }
  div[data-panel-type="error"] { @include lkboxout($lk-error-color) }
  div[data-panel-type="note"] { @include lkboxout($lk-note-color) }

  section.secret {
      @include lkboxout($lk-secret-color);
      border-style: dashed;
  }
}

.lk-tabs-controls {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  .lk-tabs-control {
    margin-right: 4px;
  }

  .lk-tabs-control-link {
    background: rgba(0, 0, 0, 0.65);
    color: white;
    border-radius: 4px;
    margin-right: 4px;
    padding: 4px 8px;
    border: 0;

    &.active {
      background: black;
    }
  }
}

.lk-tabs-contents {
  .lk-tab {
    display: none;

    &.active {
      display: block;
    }
  }
}

.lk-icon {
  background: url('../assets/icons/lk-white.svg') no-repeat center;
  background-color: #000;
  background-size: 20px 10px;
  background-position: center 2px;
  display: inline-block;
  position: relative;
  top: 3px;
  width: 30px;
  height: 15px;
  margin: 0 2px;
  border-radius: 4px;
  box-shadow: 0 0 3px #fff;
}

.lk-progress-track {
  position: relative;
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.lk-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3a91bb;
}

.sidebar-tab .directory-footer #lk-import {
  flex: 100%;
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border: 0;
    display: inline-block;
    width: 24px;
    height: auto;
    margin-right: 5px;
  }
}
